NEXT_PUBLIC_GA_MEASUREMENT_ID=G-YYN5M08HWE
NEXT_PUBLIC_SITE_URL=https://www.davidvidovic.com

NEXT_PRIVATE_MAILGUN_API_KEY=your-mailgun-api-key
NEXT_PRIVATE_MAILGUN_DOMAIN=mg.example.com
NEXT_PRIVATE_MAILGUN_REGION=us

CONTACT_TO_EMAIL=mail@davidvidovic.com
