NEXT_PUBLIC_GA_MEASUREMENT_ID=G-YYN5M08HWE
NEXT_PUBLIC_SITE_URL=https://www.davidvidovic.com

RESEND=re_xxxxxxxxx

CONTACT_TO_EMAIL=mail@davidvidovic.com
CONTACT_FROM_EMAIL=Portfolio Contact <onboarding@resend.dev>
