:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  /* background: url("../../public/images/bg.webp") no-repeat center center; */
  background-color: #0a0a0a;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* globals.css or your custom global CSS file */
@font-face {
  font-family: "BlauerNue";
  src: url("/fonts/BlauerNue-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap; /* Optional: Control how the font is displayed while loading */
}

.grid-pattern {
  background-color: #0a0a0a;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
  position: relative;
}

/* Modified intersection highlights with crosses instead of circles */
.grid-pattern::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: 
    /* Horizontal line of the cross */ linear-gradient(
      to right,
      transparent calc(50% - 3px),
      rgba(255, 255, 255, 0.4) calc(50% - 3px),
      rgba(255, 255, 255, 0.4) calc(50% + 3px),
      transparent calc(50% + 3px)
    ),
    /* Vertical line of the cross */
      linear-gradient(
        to bottom,
        transparent calc(50% - 3px),
        rgba(255, 255, 255, 0.4) calc(50% - 3px),
        rgba(255, 255, 255, 0.4) calc(50% + 3px),
        transparent calc(50% + 3px)
      );
  background-size: 40px 40px;
  pointer-events: none;
}

.grid-intersections {
  border-radius: 50%;
  pointer-events: none;
}

#title {
  position: relative;
  z-index: 999;
}

.background-grid {
  position: fixed;
}
